<p id="notice"><%= notice %></p>

<div class="table-responsive-sm">
  <h2>Peliculas</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Genero</th>
        <th scope="col">Precio</th>
        <th scope="col">Duracion</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @films.each do |film| %>
        <tr>
          <td scope="row"><%= film.title %></td>
          <td><%= film.gender %></td>
          <td><%= film.price %></td>
          <td><%= film.duration %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
