<p id="notice"><%= notice %></p>
<div class="table-responsive-sm">
  <h2>Peliculas</h2>
  <%= search_form_for @q do |f| %>
    <%= f.search_field :title_or_gender_cont , placeholder: 'Titulo o Genero'%>
    <%= f.submit 'Buscar' %>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Titulo</th>
        <th scope="col">Genero</th>
        <th scope="col">Precio</th>
        <th scope="col">Duracion</th>
      </tr>
    </thead>
    <tbody>
      <% @films.each do |film| %>
        <tr>
          <td scope="row"> <input type="checkbox" value="<%= film.id %>" name="tableFilm" onchange="nuevoArriendo('tableFilm')" > </td>
          <td><%= film.title %></td>
          <td><%= film.gender %></td>
          <td><%= film.price %></td>
          <td><%= film.duration %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <form action="<%= new_arriendo_path %>"  method = "get">
    <input type="hidden" name="film" id="tableFilm">
    <input type="hidden" name="kind" value="film">
    <button type="submit" class="btn btn-primary" > Arrendar </button>
  </form>
</div>
