<p id="notice"><%= notice %></p>

<div class="table-responsive-sm">
  <h2>Series</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Genero</th>
        <th scope="col">Precio</th>
        <th scope="col">Temporadas</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @series.each do |serie| %>
        <tr>
          <td scope="row"><%= serie.title %></td>
          <td><%= serie.gender %></td>
          <td><%= serie.price %></td>
          <td><%= serie.season %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>